@media (max-width: 768px) {
    header {
        background-size:cover;
        background-position:center center;
    

    }

   

    aside img:nth-child(2n){
        display: none;

    }

    
    footer{
        text-align: center;
        flex-direction: column;
        gap: 20px;
       }

       footer div{
        align-items: center;
       }

       .pay-in{
        flex-direction: column-reverse;
        padding: 0 20px;
       }

       ul{
        display: none;
       }

       .pattern {
        display: none;
       }

       .power-text p {
        width: 0px;
    }

    .img-people img{
        width: 87vw;
    }

    section, nav{
        margin: 0 30px;
    }

    section h1{
        font-size: 24px;
    }
    section p{
        font-size: 22px;
    }

    h2{
        font-size: 24px;
    }

    .power-text {
        margin: 130px 0 30px;
    }
    .power-text p{
       width: 100vw;
    }

    .text-get{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}